## IMPORT LIBRARIES

In [2]:
import pandas as pd

## READ FILES

In [3]:
tt_df = pd.read_csv(r'DB/DB/totransform.csv')

## EXPLORE DATA

In [4]:
tt_df.head()

,bgg_id,game_type,designer,artist,publisher,category,mechanic,family,implementation,integration
0,1,5497,1,"12517,4959","133,2,24883,2726,15108,39249,11652,5382,8147","1021,1026,1001","2916,2080,2012,2072,2040,2020","10643,34116,91",NaN,NaN
1,2,5497,8384,12424,"64,20","1002,1010",2009,"73592,7005,75454",2174,NaN
2,3,5497,2,11883,"17,133,267,29,7340,7335,41,2973,4617,1391,8291...","1009,1035","2080,2040,2026,2846,2004,2002","64960,10634,70711,60111,42,28732",NaN,NaN
3,4,5497,8008,2277,37,1050,"2001,2080,2012,2004","64229,6471,11505",NaN,NaN
4,5,5497,4,"12658,18317","92,5,4871,3082,858,2962,28072,5392,4668,38,462...","1021,1086","2040,2910,2900,2940,2005,2002,2874","78494,4891",NaN,NaN

## FUNCTION: CONVERT INTO TABLES

In [5]:
def make_ConTable(df = tt_df, id ='bgg_id', col='category'):                         #   df: Dataframe, id: Name of Column with Id, col: Name of Column with list
    df=df.loc[df[col].notnull()]                                                        #   ignore NaN
    answer = pd.DataFrame(columns=[id,f'{col}_id'])                                     #   Define Output
    for i, row in df.iterrows():                                                        #   for each row
        for entry in str(row[col]).split(","):                                          #   for each entry in List-Column
            new_row = {id:row[id], f'{col}_id':int(entry)}                              #   Define Row Entry
            answer = pd.concat([answer, pd.DataFrame([new_row])], ignore_index=True)    #   Add new row to output
    return(answer)                                                                      #   Return Output

## CONVERSION

In [6]:
game_type_df=make_ConTable(tt_df, 'bgg_id', 'game_type')

In [17]:
designer_df=make_ConTable(tt_df, 'bgg_id', 'designer')

In [18]:
artist_df=make_ConTable(tt_df, 'bgg_id', 'artist')

In [20]:
publisher_df=make_ConTable(tt_df, 'bgg_id', 'publisher')

In [21]:
category_df=make_ConTable(tt_df, 'bgg_id', 'category')

In [22]:
mechanic_df=make_ConTable(tt_df, 'bgg_id', 'mechanic')

In [23]:
family_df=make_ConTable(tt_df, 'bgg_id', 'family')

## EXPORT TABLES

In [25]:
game_type_df.to_csv("DB/DB/game_type_df.csv", index = False)
designer_df.to_csv("DB/DB/designer_df.csv", index = False)
artist_df.to_csv("DB/DB/artist_df.csv", index = False)
publisher_df.to_csv("DB/DB/publisher_df.csv", index = False)
category_df.to_csv("DB/DB/category_df.csv", index = False)
mechanic_df.to_csv("DB/DB/mechanic_df.csv", index = False)
family_df.to_csv("DB/DB/family_df.csv", index = False)